<?xml version="1.0" encoding="UTF-8" ?> 
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="express" version="2.5">
  <!--************** WELCOME-FILE-LIST ************-->
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
    <!--******* Newly Added Servlet for Automation start **********-->
    <servlet>
        <servlet-name>VendorCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.VendorCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortableAreaCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.PortableAreaCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorAsocCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.VendorAsocCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendorAutomationCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.VendorAutomationCtlr</servlet-class>
    </servlet>
<!---    <servlet>
        <servlet-name>VendorSpecificAutomation</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.VendorSpecificAutomation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OCNAutomationCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.OCNAutomationCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StateAutomationCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.StateAutomationCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTypeAutomationCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.ServiceTypeAutomationCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityTypeAutomationCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.ActivityTypeAutomationCtlr</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>AsocTypeCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.AsocTypeCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PortableAreaNameCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.PortableAreaNameCtlr</servlet-class>
    </servlet>
     <!--******* Newly Added Servlet for Automation start **********-->
    <servlet>
        <servlet-name>LSRBaseController</servlet-name>
        <servlet-class>com.automation.controller.LSRBaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLATimerController</servlet-name>
        <servlet-class>com.automation.controller.SLATimerController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
         <!--******* Newly Added Servlet for Automation start **********-->
 	<servlet>
        <servlet-name>ComplexAsocTypeCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.ComplexAsocTypeCtlr</servlet-class>
     </servlet>
    <servlet-mapping>
        <servlet-name>VNTCtlr</servlet-name>
        <url-pattern>/VNTCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHCtlr</servlet-name>
        <url-pattern>/CHCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorCtlr</servlet-name>
        <url-pattern>/VendorCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortableAreaCtlr</servlet-name>
        <url-pattern>/PortableAreaCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorAsocCtlr</servlet-name>
        <url-pattern>/VendorAsocCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendorAutomationCtlr</servlet-name>
        <url-pattern>/VendorAutomationCtlr</url-pattern>
    </servlet-mapping>
    <!---<servlet-mapping>
        <servlet-name>VendorSpecificAutomation</servlet-name>
        <url-pattern>/VendorSpecificAutomation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OCNAutomationCtlr</servlet-name>
        <url-pattern>/OCNAutomationCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateAutomationCtlr</servlet-name>
        <url-pattern>/StateAutomationCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTypeAutomationCtlr</servlet-name>
        <url-pattern>/ServiceTypeAutomationCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityTypeAutomationCtlr</servlet-name>
        <url-pattern>/ActivityTypeAutomationCtlr</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>AsocTypeCtlr</servlet-name>
        <url-pattern>/AsocTypeCtlr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PortableAreaNameCtlr</servlet-name>
        <url-pattern>/PortableAreaNameCtlr</url-pattern>
    </servlet-mapping>
     <!--******* Newly Added Servlet for Automation start **********-->
    <servlet-mapping>
        <servlet-name>LSRBaseController</servlet-name>
        <url-pattern>/LSRBaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLATimerController</servlet-name>
        <url-pattern>/SLATimerController</url-pattern>
    </servlet-mapping>
    <!--******* Newly Added Servlet for Automation end **********-->
	<servlet-mapping>
        <servlet-name>ComplexAsocTypeCtlr</servlet-name>
        <url-pattern>/ComplexAsocTypeCtlr</url-pattern>
    </servlet-mapping>
  <session-config>
    <session-timeout>90</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>doc</extension>
    <mime-type>application/msword</mime-type>
  </mime-mapping>
    <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/msexcel</mime-type>
  </mime-mapping>

  <!--************** SERVLET-LIST ************-->
  <servlet>
        <servlet-name>RNDICtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.RNDICtlr</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>BanCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.BanCtlr
    </servlet-class>
  </servlet>
  <!---<servlet>
    <servlet-name>authenticated</servlet-name>
    <servlet-class>weblogic.t3.srvr.ClientAuthenticationServlet
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Certificate</servlet-name>
    <servlet-class>utils.certificate
    </servlet-class>
  </servlet>-->
  <servlet>
    <servlet-name>TableAdminCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.TableAdminCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomePageCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.HomePageCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketUnlockCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.TicketUnlockCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DwoUnlockCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DwoUnlockCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreorderUnlockCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.PreorderUnlockCtlr
      </servlet-class>
  </servlet>
<!---  <servlet>
    <servlet-name>AdminCaptureRootCA</servlet-name>
    <servlet-class>admin.AdminCaptureRootCA
      </servlet-class>
  </servlet>-->
  <servlet>
    <servlet-name>DwoCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DwoCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DslCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DslCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DslQualCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DslQualCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillingCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.BillingCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DsTicketCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DsTicketCtlr
     </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.TicketCtlr
     </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecurityGroupCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.SecurityGroupCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExcludeAsocsCtlr
    </servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.ExcludeAsocsCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserGroupCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.UserGroupCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SecurityGroupAssignmentCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.SecurityGroupAssignmentCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MenuCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.MenuCtlr
      </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoginCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.LoginCtlr
    </servlet-class>
  </servlet>

  <servlet>
    <servlet-name>OCNCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.OCNCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReasonCodeCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.ReasonCodeCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreorderListCtlr
      </servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.PreorderListCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DefaultValuesCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DefaultValuesCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DslUnlockCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DslUnlockCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OCNStateCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.OCNStateCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.RequestCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DwoListCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DwoListCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DslListCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DslListCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DsTicketListCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.DsTicketListCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketListCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.TicketListCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestListCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.RequestListCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillDisputeCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.BillDisputeCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserGroupAssignmentCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.UserGroupAssignmentCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillDisputeListCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.BillDisputeListCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestUnlockCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.RequestUnlockCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BillDisputeUnlockCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.BillDisputeUnlockCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.UserInfoCtlr
    </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HolidayCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.HolidayCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserIDCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.UserIDCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CompanyCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.CompanyCtlr
      </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreorderCtlr</servlet-name>
    <servlet-class>com.alltel.lsr.common.servlets.PreorderCtlr
    </servlet-class>
  </servlet>
	<servlet>
		<servlet-name>ExpressSISCtlr</servlet-name>
			<servlet-class>com.alltel.lsr.common.servlets.ExpressSISCtlr
		</servlet-class>
	</servlet>

    <servlet>
        <servlet-name>VNTCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.VNTCtlr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHCtlr</servlet-name>
        <servlet-class>com.alltel.lsr.common.servlets.CHCtlr</servlet-class>
    </servlet>
    <servlet>
  	<servlet-name>HelpDocCtlr</servlet-name>
  	<servlet-class>com.alltel.lsr.common.servlets.HelpDocCtlr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RNDICtlr</servlet-name>
        <url-pattern>/RNDICtlr/*</url-pattern>
    </servlet-mapping>
 
 <servlet-mapping>
    <servlet-name>SecurityGroupAssignmentCtlr</servlet-name>
    <url-pattern>/SecurityGroupAssignmentCtlr/*
      </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DwoCtlr</servlet-name>
    <url-pattern>/DwoCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DslCtlr</servlet-name>
    <url-pattern>/DslCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DslQualCtlr</servlet-name>
    <url-pattern>/DslQualCtlr/*
    </url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RequestListCtlr</servlet-name>
    <url-pattern>/RequestListCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReasonCodeCtlr
    </servlet-name>
    <url-pattern>/ReasonCodeCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompanyCtlr</servlet-name>
    <url-pattern>/CompanyCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillDisputeUnlockCtlr</servlet-name>
    <url-pattern>/BillDisputeUnlockCtlr/*
      </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGroupAssignmentCtlr</servlet-name>
    <url-pattern>/UserGroupAssignmentCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MenuCtlr</servlet-name>
    <url-pattern>/MenuCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillDisputeCtlr</servlet-name>
    <url-pattern>/BillDisputeCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DefaultValuesCtlr</servlet-name>
    <url-pattern>/DefaultValuesCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping> 
    <servlet-name>OCNCtlr</servlet-name>
    <url-pattern>/OCNCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestCtlr</servlet-name>
    <url-pattern>/RequestCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreorderListCtlr</servlet-name>
    <url-pattern>/PreorderListCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DwoListCtlr</servlet-name>
    <url-pattern>/DwoListCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DslListCtlr</servlet-name>
    <url-pattern>/DslListCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OCNStateCtlr</servlet-name>
    <url-pattern>/OCNStateCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketUnlockCtlr</servlet-name>
    <url-pattern>/TicketUnlockCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DwoUnlockCtlr</servlet-name>
    <url-pattern>/DwoUnlockCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillDisputeListCtlr</servlet-name>
    <url-pattern>/BillDisputeListCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HolidayCtlr</servlet-name>
    <url-pattern>/HolidayCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DsTicketListCtlr</servlet-name>
    <url-pattern>/DsTicketListCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketListCtlr</servlet-name>
    <url-pattern>/TicketListCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DsTicketCtlr</servlet-name>
    <url-pattern>/DsTicketCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketCtlr</servlet-name>
    <url-pattern>/TicketCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomePageCtlr</servlet-name>
    <url-pattern>/HomePageCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreorderUnlockCtlr</servlet-name>
    <url-pattern>/PreorderUnlockCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BanCtlr</servlet-name>
    <url-pattern>/BanCtlr/*
    </url-pattern>
  </servlet-mapping>
  <!---<servlet-mapping>
    <servlet-name>authenticated</servlet-name>
    <url-pattern>/authenticated/*
    </url-pattern>
  </servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>SecurityGroupCtlr</servlet-name>
    <url-pattern>/SecurityGroupCtlr/*
    </url-pattern>
  </servlet-mapping>
  <!---<servlet-mapping>
    <servlet-name>Certificate</servlet-name>
    <url-pattern>/Certificate/*
    </url-pattern>
  </servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>ExcludeAsocsCtlr</servlet-name>
    <url-pattern>/ExcludeAsocsCtlr/*
      </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestUnlockCtlr</servlet-name>
    <url-pattern>/RequestUnlockCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCtlr</servlet-name>
    <url-pattern>/LoginCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DslUnlockCtlr</servlet-name>
    <url-pattern>/DslUnlockCtlr/*
    </url-pattern>
  </servlet-mapping>
  <!---<servlet-mapping>
    <servlet-name>AdminCaptureRootCA</servlet-name>
    <url-pattern>/AdminCaptureRootCA/*
    </url-pattern>
  </servlet-mapping>-->
  <servlet-mapping>
    <servlet-name>UserIDCtlr</servlet-name>
    <url-pattern>/UserIDCtlr/*
      </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreorderCtlr</servlet-name>
    <url-pattern>/PreorderCtlr/*
      </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserGroupCtlr</servlet-name>
    <url-pattern>/UserGroupCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TableAdminCtlr</servlet-name>
    <url-pattern>/TableAdminCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BillingCtlr</servlet-name>
    <url-pattern>/BillingCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoCtlr</servlet-name>
    <url-pattern>/UserInfoCtlr/*
    </url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	    <servlet-name>ExpressSISCtlr</servlet-name>
	    <url-pattern>/ExpressSISCtlr/*</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
  	<servlet-name>HelpDocCtlr</servlet-name>
  	<url-pattern>/help_docs/Escalation_Contacts.pdf</url-pattern>
  	<url-pattern>/help_docs/Windstream_Business_Rules_for_the_CSR_LSR_Process.pdf</url-pattern>
  	<url-pattern>/help_docs/LSOP_5_Rev_5.pdf</url-pattern>
  </servlet-mapping>
</web-app>
